* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  max-width: 100%;
}
.app_posts {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  padding: 10px;
}

.app_profileRight {
  display: flex;
  justify-content: space-between;
  position: sticky;
  max-width: 300px;
  margin-left: 10px;
  margin-bottom: 13px;
  padding-left: 25px;

  /* border: 1px solid lightgray; */
}

.app_header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 0px;
  height: 65px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app_headerImage {
  object-fit: contain;
  padding-left: 10px;
}

.app_headerButton {
  display: flex;
  align-items: center;
  padding-right: 90px;
}

.app_loginContainer {
  display: flex;
  align-items: center;
}

.buttons {
  margin: 5px;
}

.app_signup {
  display: flex;
  flex-direction: column;
}
